<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(let i = 0; i < logs.length; i++) { %>
        <li>
          <a href="/logs/<%= logs[i]._id%>"><%=logs[i].title%></a> |
          <a href="/logs/<%= logs[i]._id%>/edit">EDIT</a> |
          <form action="/logs/<%= logs[i]._id%>?_method=DELETE" method="post">
            <input type="submit" value="DELETE" />
          </form>
        </li>
        <% } %>
</body>
</html>