<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>
</head>
<body>
    <h1>Create New Log</h1>
    <form action="/log" method="POST">
      Title: <input type="text" name="title" /><br />
      Entry: <input class="newtext" type="textarea" name="entry" /><br />
      <input type="submit" value="Create Log" />
    </form>
  </body>
</html>
